/* styles.css */

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
  background-image: url('wallpaper.jpg'); /* Updated background image */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; /* Keeps the background fixed while scrolling */
  height: 100vh; /* Set body height to viewport height */
  position: relative; /* Added for positioning the clock and battery */
}

#spotify-player {
  position: absolute;
  top: 50%;
  left: 20px; /* Move the music player to the left */
  transform: translateY(-50%);
  border-radius: 10px; /* Round the corners */
}

#playlist-url {
  position: absolute;
  top: calc(50% + 50px); /* Position the input directly below the music player */
  left: 20px; /* Align the input with the music player */
  padding: 5px;
  width: 300px; /* Adjust width */
  font-size: 16px;
  border-radius: 5px; /* Round the input field corners */
}

#clock {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 24px; /* Adjust font size */
  font-family: sans-serif; /* Use sans-serif font */
  font-weight: bold; /* Make the clock text bold */
  color: #fff; /* Font Colour */
}

#battery {
  position: absolute;
  top: 20px;
  right: 20px;
}

.battery-icon {
  width: 30px; /* Adjust battery icon size */
  height: 15px; /* Adjust battery icon size */
  background-color: #fff; /* Battery icon color */
  border: 1px solid #000; /* Battery border */
  border-radius: 2px;
}

.battery-level {
  height: 100%;
  background-color: #2ecc71; /* Initial battery level color (green) */
  border-radius: 2px;
}
