body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url('https://wallpapers.com/images/thumbnail/beautiful-dark-night-streets-87lgjidjoyjc81sc.webp');
  background-size: cover;
  background-position: center;
  font-family: 'Roboto', sans-serif;
}

#clock {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 36px;
  color: #fff;
}
